#page{
    width: 900px;
    background-image: url('images/fond_jaune.png');
    display: grid;
    margin: auto;
    grid-template-rows: 115px 258px auto auto 90px;
    padding: 20px;
}
#header{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#logo{
    width: 280px;
    height: 115px;
    display: inline-block;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
}
#nav{
    display: inline-block;
    width: 620px;
    text-align: right;
    padding-top: 40px;
    
}
#ul{
    list-style: none;
}
#li{
    display: inline-block;
    margin-left: 5%;
}
a{
    text-decoration: none;
    color: #181818;
    font-size:20.8px;
    text-transform: uppercase;
}
#nav a:hover{
    color: #ff9008;
    border-bottom: 10px solid #ff9008;
}
#banniere_image{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 15px 0px 25px 0px;
    background-image: url('images/bandeau.jpg');
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #1c1a19;
}
#conteneur{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: inline-block;
    text-align: justify;
    width: 625px;
    margin-right: 15px;
    vertical-align: top;
}
#sidebar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    position: relative;
    height: 330px;
    background-color: #000;
    color: #ff9008;
    font-size: 14.44;
    border-radius: 5px;
    box-shadow: opx 2px 5px #1c1a19;
    padding: 10px;
}
.h1{
    height: 47px;
    background-image: url('images/ico_epingle.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
}
p{
    font-size: 12.8px;
}
.centrage{
    text-align: left;
}
#sidebar img{
    display: block;
    margin: auto;
}
#sidebar h1{
    color: #ff9008;
}
#sidebar h3{
    color: #ff9008;
}
#sidebar p{
    color: #ff9008;
}
#section2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url('images/separateur.png');
    background-repeat: repeat-x;
    padding-top: 25px;
    margin-top: 25px;
}
#specialiste{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 40%;
}
#specialiste img{
    border: 1px solid #181818;
    margin-right: 2px;
}
#slogan{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 18%;

}
#liensutiles{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    text-align: center;
}
.ul{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    text-align: left;
    padding-left: 2px;

}
#footer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:5;
    background-image: url('images/footer.jpg');
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
}