body {
    color: #181818;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page {
    background-image: url('images/fond_jaune.png');
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 120px 219px auto 150px 90px;
    gap: 20px 10px;
    padding: 20px;
}

#header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 120px;
    background-image: url('images/separateur.png');
    background-repeat: repeat-x;
    background-position: bottom;
}

#logo {
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    width: 280px;
}

#nav {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 620px;
    text-align: right;
    text-transform: uppercase;
    margin-top: 45px;
}

#header a {
    font-size: 20.8px;
    color: #181818;
    text-decoration: none;
    margin-right: 15px;
}

#header a:hover {
    color: #d80500;
    border-bottom: 10px solid #d80500;
}

#banniere_image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url('images/bandeau.jpg');
    border-radius: 10px;
    box-shadow: 0px 4px 4px #1c1a19;
}

#banniere_description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: rgb(250, 246, 246);
    width: 99.5%;
    height: 40px;
    position: absolue;
    background-color: rgb(24, 24, 24);
    background-color: rgba(24, 24, 24, 0.8);
    margin-top: 20%;
    border-radius: 0 0 5px 5px;
}

.bouton_rouge {
    height: 25px;
    background-image: url('images/fond_degraderouge.png');
    display: inline;
    right: 5px;
    bottom: 5px;
    position: absolue;
    border: 1px solid #760001;
    font-size: 19.2px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 3px 8px 0px 8px;
    border-radius: 5px;
    float: right;
    margin-top: 7px;
}

#section1 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 15px;
    grid-template-columns: 625px auto;
    display: grid;

}

#conteneur {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 15px;

}

#conteneur h1 {
    padding-left: 50px;
    background-image: url('images/ico_epingle.png');
    background-repeat: no-repeat;
    background-position: left;
}

#section1 p {
    font-size: 12.8px;
}

#sidebar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 400px;
    background-color: #706b64;
    padding: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #1c1a;
    text-align: justify;
}

#fleche_bulle {
    position: absolute;
    top: 470px;
    left: 840px;
}

.centrage {
    text-align: center;
}

#section2 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25px 60px;
    row-gap: 20px;
}

.bg {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5px 25px;
}
.bg2{
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url('images/ico_top.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bg1{
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url('images/separateur.png');
    background-repeat: repeat-x;

}

#section2 p {
    font-size: 12.8px;
}

#section2 h1 {
    font-size: 17.6px;
}

#slogan {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

#liensutiles {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 40px;
    text-align: left;
}

ul {
    list-style-image: url('images/ico_liensexterne.png');
}
#liensutiles a {
    text-decoration: none;
    color: #760001;
    font-size: 12.8px;
}

#realisations {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: inline;
    text-align: center;
}

#realisations img {
    border: 1px solid #181818;
}

#footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-image: url('images/footer.jpg');
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
}

td {
    width: 150px;
}

.inp {
    width: 250px;
}

::placeholder {
    text-align: center;
}